@page
@model WebApp.Pages.LoadGame

@{
    ViewData["Title"] = "Load game";
}

<h1>Select your previous game from list!</h1>

<p>
    <a asp-page="Index">Create New Game</a>
</p>
<form method="get" class="form-inline">
    <div class="form-group">
        <label class="control-label">
            Search game:<p></p>
            <input name="search" value="@Model.Search" class="form-control"/>
        </label>
    </div>
    <div class="form-group">
        <input type="submit" value="Search" class="btn btn-default"/>
    </div>
</form>
<p></p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Game[0].GameId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Game[0].PlayerOne)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Game[0].PlayerTwo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Game[0].Rows)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Game[0].Cols)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Game[0].GameOver)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Game[0].NumberOfShips)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Game[0].Ai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Game[0].ShipsCanTouch)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Game) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GameId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlayerOne)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlayerTwo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rows)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cols)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GameOver)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfShips)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShipsCanTouch)
        </td>
        <td>
            @if (!item.GameOver)
            {
                <a asp-page="PlayGame" asp-route-id="@item.GameId">Play</a>
            }
        </td>
    </tr>
}
    </tbody>
</table>
